{% extends 'layout.html.twig' %}
{% block content %}
    <h1>{{ pimcore_input("headline", {"width": 540}) }}</h1>

    <div class="bike-info">
        {% if editmode %}
            {{ pimcore_relation("bike") }}
        {% else %}
            {% set bck = pimcore_relation("bike").element %}
            {% if bck %}
                <h2>{{ bck.name }}</h2>
                <div class="content">
                    {% if bck.Bikes %}
                        {{ bck.Bikes.thumbnail("Bikes").html|raw }}
                    {% endif %}
                    <br>
                    {{ bck.description|raw }}
                    <h3>SKU : {{ bck.sku }}</h3>
                    <h3>Price : {{ bck.price }}</h3>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}